/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,300;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /*transition:all ease-out 500ms;*/
}

.img-background {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/banner02.png");
    background-color: #151932;
    max-height: 700px;
}

.img-background-2 {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/bredcump.png");
    background-color: #151932;
    max-height: 30vh;
}
.menuToggle {
    display: none;
}
.menu-superior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo menu";
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

    .menu-superior ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        grid-area: menu;
    }

    .menu-superior li {
        padding: 1rem 0.5rem;
        text-align: center;
        line-height: 14px;
    }

        .menu-superior li img {
            vertical-align: middle;
        }

    .menu-superior a {
        color: rgb(255, 255, 255);
    }

        .menu-superior a:hover {
            color: #181c3a;
        }

.logotipo {
    grid-area: logo;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.banner-principal {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 1200px;
    margin: 30px auto 40px auto;
    align-items: flex-start;
}

    .banner-principal h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 20px;
        text-align: left;
    }

    .banner-principal p {
        text-align: left;
    }

.article-home {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 1.5rem;
}

.card-article {
    max-width: 32%;
    min-width: 300px;
    padding: 20px 20px;
    border-radius: 40px;
    background-color: #181c3a;
    border: 1px solid #262d5c;
    font-family: 'Titillium Web', sans-serif;
}

    .card-article a {
        color: rgb(255 255 255);
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        border: 2px solid rgb(77 0 255);
        padding: 0.8rem;
        border-radius: 10px;
    }

    .card-article p {
        margin: 1rem;
    }

    .card-article img {
        margin: 1rem 0 0 0;
    }

    .card-article h4 {
        margin: 0 0 1rem 0;
    }

.card-news {
    margin: 40px 1rem 0 0;
    border: 1px dotted rgba(225, 0, 255, 0.185);
    border-radius: 15px;
    padding: 2rem;
    background-image: linear-gradient(to left, rgb(140, 0, 255), rgb(68, 0, 255));
    color: #fff;
}

    .card-news a {
        margin-top: 20px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        border: 2px solid rgb(255, 255, 255);
        padding: 0.8rem;
        border-radius: 10px;
        font-size: 14px;
    }

    .card-news p {
        margin-bottom: 2rem;
    }

    .card-news h3 {
        font-size: 18px;
        margin: 1rem;
    }

.login-cadastro {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    filter: opacity(85%);
    border-radius: 40px;
    margin: 100px 0 100px 0;
    text-align: left;
    padding: 1rem;
    border: 2px dotted #576dff52;
    justify-content: center;
    align-items: flex-start;
}

    .login-cadastro input {
        width: 100%;
    }

textarea {
    border: 1px solid rgb(77 0 255);
    padding: 1rem;
    border-radius: 15px;
    background-color: #0d133d;
    color: rgb(226, 177, 255);
    margin: 0.2rem 0;
    width: 74%;
}

    textarea::placeholder {
        color: rgb(226, 177, 255);
    }

input {
    border: 1px solid rgb(77 0 255);
    padding: 1rem;
    border-radius: 15px;
    background-color: #0d133d;
    color: rgb(226, 177, 255);
    margin: 0.2rem 0;
}

    input::placeholder {
        color: rgb(226, 177, 255);
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(1);
    }

button {
    padding: 1rem;
    border-radius: 15px;
    /*background-color: #9809f7;*/
    background-image: linear-gradient(to left, rgb(140, 0, 255), rgb(68, 0, 255));
    color: rgb(255, 255, 255);
    width: 70%;
    border: 0px;
    font-weight: 600;
    cursor: pointer;
    margin: 0.5rem 0;
}

.login-cadastro h4 {
    margin-top: 1rem;
    font-size: 20px;
}

.login-cadastro p {
    font-size: 14px;
    margin: 0.7rem 0;
}

.cadastro-home {
    margin: 0 2rem;
}

.busque-destinos {
    max-width: 232px;
}

    .busque-destinos img {
        margin: 0.2rem;
    }

.destinos-alta {
    font-size: 1.5rem;
    text-align: left;
    margin: 1rem;
    color: #8b60ff;
}

.page-tit {
    max-width: 1150px;
    margin: 30px auto 0 auto;
    text-align: left;
    color: #fff;
    line-height: 1.5rem;
    padding: 0 1rem 0 1rem;
}

    .page-tit a {
        color: #fff;
        font-size: 14px;
    }

.origem-destino {
    max-width: 1200px;
    padding: 2rem;
    border: 1px dotted rgb(36, 0, 121);
    background: #181c3a;
    text-align: left;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
}

    .origem-destino button {
        max-width: 200px;
        text-align: center;
    }

    .origem-destino h4 {
        font-size: 2rem;
    }

    .origem-destino p {
        margin: 0.3rem 0 1rem 0;
    }

footer {
    margin: 2.2rem 0 0 0;
}
.footer-base p{
    color:#fff;
    padding-bottom: 1.8rem;
}

.display-check {
    display: none;
    justify-content: space-around;
    border: 2px dotted #8b60ff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 15px;
    width: 100%;
    flex-wrap: wrap;
}

    .display-check .checking {
        min-width: 220px;
    }

        .display-check .checking ul {
            list-style: none;
        }

        .display-check .checking li {
            text-align: left;
            margin: 1rem;
            ;
        }

    .display-check span {
        color: #8b60ff;
        font-weight: 600;
        margin-right: 15px;
    }

    .display-check .compra {
        text-align: left;
        max-width: 400px;
    }

/*Custom Radio Pagamento*/

.radio-image label > input {
    visibility: hidden;
}

    .radio-image label > input + img {
        cursor: pointer;
        padding: 1px;
    }

    .radio-image label > input:checked + img {
        border: 2px solid #8b60ff;
    }

@media (max-width: 600px) {
    .menu-screen {
        display: none;
    }

    .menu-superior ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        grid-area: menu;
        flex-direction: column;
    }

    .menuToggle {
        display: flex;
    }
        /* The hidden checkbox */
        .menuToggle input {
            position: absolute;
            top: 0;
            right: 0;
            width: 90px;
            height: 40px;
            opacity: 0;
            z-index: 1;
            margin: 1rem;
            cursor: pointer;
        }

        /* The container of the hamburger lines */
        .menuToggle .hamburger {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 50px;
            margin: 1.5rem;
        }

            /* All three lines of the hamburger */
            .menuToggle .hamburger span {
                display: flex;
                background: rgb(255, 255, 255);
                width: 40px;
                height: 5px;
                margin-bottom: 8px;
                border-radius: 10px;
                transition: 0.2s ease-in;
            }

            /* Pushing the middle line of the hamburger to the left when not hovered*/
            .menuToggle .hamburger .middle {
                position: relative;
                right: 10px;
            }

        /* Pushing the middle line of the hamburger to the right when hovered*/
        .menuToggle input:hover + .hamburger > .middle {
            transform: translateX(15%);
        }

        /* Pushing the middle line of the hamburger to the right when checked*/
        .menuToggle input:checked + .hamburger > .middle {
            transform: translateX(15%);
        }

    /* Making an X while menu is open */

    .x-line {
        opacity: 0;
        position: relative;
        bottom: 32px;
        right: 9px;
    }

    .menuToggle input:checked + .hamburger > span {
        opacity: 0;
    }

    .menuToggle input:checked + .hamburger > .middle {
        opacity: 1;
        transform: rotate(135deg);
    }

    .menuToggle input:checked + .hamburger > .x-line {
        opacity: 1;
        transform: rotate(45deg);
    }

    /* Hides the menu when input not checked*/
    .menuToggle .menu {
        opacity: 0;
        transform: scale(0.0);
        transition: 0.2s ease-in;
        /* Menu styling*/
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #8b60ff;
        z-index: 990;
    }

    /* Styling the links in the menu*/
    .menu li {
        list-style: none;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
    }

        .menu li a {
            color: rgb(22 0 82);
            text-decoration: none;
        }

    /* Shows the menu when input is checked*/
    .menuToggle input:checked ~ .menu {
        transform: scale(1.0);
        opacity: 1;
    }

    /* Underlining menu links when hovered*/
    .menuToggle .menu a:hover {
        background-image: linear-gradient(to bottom, #63646b 33%, transparent 100%);
        background-position: 0 1em;
        background-repeat: repeat-x;
        background-size: 2px 40px;
    }
}