@{
    ViewData["Title"] = "Contato - Vuelo Viagens Internacionais!";
}

<div class="page-tit">
    <h2>@ViewData["Title"]</h2>
    <p>Entre em contato conosco!</p>
    <span><a href="/home/index">Home</a> / <a href="/home/contato">Contato</a></span>
</div>
<main>
    

    <!-- section do conteudo principal -->
    <section class="origem-destino">
        <h4>Entre em Contato</h4>
        <p>Preencha o formulário para entrar em contato conosco, responderemos em até 2 hras!</p>
        <form action="#">
            <datalist name="dataDuvida">
                <option value="Selecione">Duvida sobre:</option>
                <option value="financeiro">Financeiro</option>
                <option value="como comprar">Como Comprar</option>
                <option value="comprar">Comprar</option>
                <option value="outras">Outras</option>
            </datalist>

            <input type="text" placeholder="Nome:">
            <input type="email" placeholder="E-mail:">
            <input type="tel" id="phone" name="phone" placeholder="(xx)xxxxx-xxxx" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}">
            <textarea placeholder="Descreva" name="descreva" id="" cols="20" rows="5"></textarea><br>
            <button>Enviar</button>
        </form>
        </section>

    </main>
