@{
    ViewData["Title"] = "Promoções - Vuelo Viagens Internacionais!";
}

<div class="page-tit">
    <h2>@ViewData["Title"]</h2>
    <p>Fique por dentro das Promoções!</p>
    <span><a href="/home/index">Home</a> / <a href="/home/promocoes">Promoções</a></span>
</div>

<!-- main engloba o conteudo todo fora da nav e do footer -->
<main>
    <!-- article mais indicado o conteudo central, mais usado para conteudo de blogs onde contem comentarios autor -->
    <h2 class="destinos-alta"></h2>
    <section class="article-home">
        <article class="card-article">
            <img src="../img/grecia.png" alt="Bandeira Grécia" width="50px">
            <h4>Grécia</h4>
            <p>
                A Grécia é um país do sudeste da Europa com milhares de ilhas espalhadas pelos mares Egeu e
                Jônico. Bastante influente na antiguidade,
                a nação é considerada o berço da civilização ocidental. Atenas, sua capital, conserva monumentos
                como a Acrópole,
                do século V a.C.
            </p>
            <a href="#">40% Off / Aproveite!</a>
        </article>

        <article class="card-article">
            <img src="../img/franca.png" alt="bandeira Inglaterra" width="50px">
            <h4>Páris</h4>
            <p>
                Paris, a capital da França, é uma importante cidade europeia e um centro mundial de arte, moda,
                gastronomia e cultura. Sua paisagem urbana
                do século XIX é cortada por avenidas largas e pelo rio Sena. A cidade é conhecida por monumentos
                como a Torre Eiffel e a Catedral
                de Notre-Dame
            </p>
            <a href="#">20% Off / Aproveite!</a>
        </article>

        <article class="card-article">
            <img src="../img/alemanha.png" alt="Bandeira Alemanha" width="50px">
            <h4>Alemanha</h4>
            <p>
                A Alemanha é um país situado na Europa Ocidental com uma paisagem de florestas, rios,
                cordilheiras e praias do Mar do Norte. A nação tem mais
                de 2 milênios de história. Berlim, a capital, abriga cenários artísticos e de vida noturna, o
                Portão de Brandemburgo
                e muitos locais relacionados à Segunda Guerra Mundial.
            </p>
            <a href="#">10% Off / Aproveite!</a>
        </article>
    </section>

</main>
